services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    ports:
      - "3000:3000"
    environment:
      JWT_SECRET: valami_nagyon_titkos_jelszo
      ATLAS_URI: mongodb+srv://sprokdaniel:Jbt68TGnWczTYilq@prfcluster.bjw44kp.mongodb.net/healthcare_data_manager?retryWrites=true&w=majority&appName=PrfCluster
    restart: unless-stopped
  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    ports:
      - "4200:80"
    depends_on:
      - server
    restart: unless-stopped